params {
    reads = "data/*.fastq.gz"
    filtlong_keep_percent = 90
    filtlong_min_length   = 1000
    filtlong_target_bases = null
}

process {
    executor = 'local'
    cpus = 2
    memory = '4 GB'
    time = '1h'
}

docker {
    enabled = true
    runOptions = "-u 1000:1000"
}

conda {
    enabled = false
}

timeline {
    enabled = true
    overwrite = true
    file = "results/timeline.html"
}


